<style>
.error{
    color: white;
    border: 2px solid red;
    background-color: red;
    border-radius: 10px;
    text-align: center;
}
body{
    background-image: url(https://thumbs.dreamstime.com/b/wood-background-wallpaper-hd-123273980.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;width: 100%;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;width: 100%;
}

</style>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <legend>Email For Reset Password</legend>
        {% if form.error %}
            <div class="error">
                {{ form.email.errors }}  
            </div>
        {% endif %}
        <div class="form">
            <label class=''>{{form.email.label}}</label>
            {{ form.email }}
        </div>
        <p class="alert alert-info">Pls use your registerd Email.</p> 
        <button type="submit">Reset Password Request </button>
    </form>
</div>




